body{

    background:#001100;

    color:#00ff66;

    font-family:Arial;

}


#layout{

    display:flex;

}


#panel{

    padding:20px;

}


input,select,button{

    font-size:16px;

    margin:5px;

}
